:root {
    --heart-color: rgb(255, 0, 0);
    --coin-color: rgb(238, 255, 0);
    --bomb-color: rgb(0, 0, 0);
    --game-background-color: rgb(46, 48, 46);
    --game-background-hover: rgb(234, 234, 234);
    --menu-background-color: rgb(255, 255, 255);
    --menu-border-color: rgb(212, 6, 6);
}

@font-face {
    font-family: "press-start-2p";
    src: url(Press_Start_2P/PressStart2P-Regular.ttf);
}

* { margin: 0; padding: 0; }

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "press-start-2p", sans-serif;
}

h1 {
    font-size: 5rem;
    color: var(--coin-color);
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 10vh;
    user-select: none;
}

#game-board {
    background-color: var(--game-background-color);
    width: 100vw;
    height: 100vh;
}

#score {
    font-size: 3rem;
    color: white;
}

.sprite-universals {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    position: absolute;
    top: -5.5rem;
    user-select: none;

    animation: dropSprites 10s linear infinite;
}

.sprite-universals:hover {
    cursor: pointer;
}

.menu {
    background-color: var(--menu-background-color);
    border: var(--menu-border-color) 0.5rem solid;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.menu:hover {
    cursor: pointer;
    background-color: var(--game-background-hover);
}

.welcome {
    color: white;
    text-align: center;
    margin-top: 25vh;
    animation: welcomeBlink 2s infinite;
    display: block;
    cursor: pointer;
}

/*  */

@keyframes dropSprites {
    from {
      transform: translateY(0vh);
    }
  
    to {
      transform: translateY(100vh);
    }
  }

  @keyframes welcomeBlink {
    0% {
      opacity: 0%;
    }

    50% {
        opacity: 100%
    }
  
    100% {
      opacity: 0%;
    }
  }